* {
    box-sizing: border-box;
    background-color: #4b0082;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

}

h2 {
    margin-bottom: 5px;
}

label {
    margin-bottom: 5px;
}

input, button {
    border-color: white;
}

button {
    padding: 5px 10px;
    border-radius: 10px;
    margin: 15px 0px;
}

#results {
    height: 80px;
    width: 500px;
    background-color: #dcd0ff;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    color: black;
}

#gameboard {
    height: 500px;
    width: 500px;
    background-color: rgb(241, 240, 255);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.grid-tile {
    display: flex;
    justify-content: center;
    color: black;
}

#gameboard > div {
    height: 150px;
    width: 150px;
    background-color: antiquewhite;
    border: 1px solid brown;
}